<div>
  <h2><%= @salutation %></h2>
  <h2>It's <%= strftime!(@date, "%r") %></h2>
</div>
<%= for todo <- @todos do %>
<div><%= todo.title %></div>
<% end %>
<form action="#" phx-submit="add">
  <%= text_input :todo, :title, placeholder: "What do you want to get done?" %>
  <%= submit "Add", phx_disable_with: "Adding..." %>
</form>
